@import "../../../../../globalStyles/vars";

.button {
    background-color: $accentColor;
    color: $whiteColor;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 12px 20px;
    box-sizing: border-box;
    transition: $mainTransition;
    cursor: pointer;

    &:hover {
        box-shadow: $mainShadow;
    }
}