@import "../../globalStyles/vars";

.skeleton {
    position: relative;

    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    margin-top: -60px;
    margin-left: -30px;
    justify-content: flex-start;
    flex-wrap: wrap;

    z-index: 5;
}

.skeleton__item {
    position: relative;
    margin-top: 60px;
    margin-left: 30px;
    width: 100%;
    height: 220px;
    object-fit: cover;

    @media screen and (min-width: 400px) {
        height: 250px;
    }

    @media screen and (min-width: 480px) {
        height: 280px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.skeleton__image_wrapper {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: $headerShadow;
    background-color: rgb(237, 237, 237);

    @media screen and (min-width: 400px) {
        height: 250px;
    }

    @media screen and (min-width: 480px) {
        height: 280px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}

.skeleton__wrapper {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $whiteColor;
    border-radius: 20px;
    box-shadow: $mainShadow;
    z-index: 30;
}

.skeleton__text_wrapper {
    display: flex;
    flex-direction: column;
}