@import "../../../globalStyles/vars";

.orderBar__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 60px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: $headerShadow;
    height: fit-content;


    @media screen and (min-width: 1200px) {
        margin-top: 0;
        width: 370px;
        margin-left: 30px;
    }
}

.orderBar__title_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.orderBar__title{
    font-size: 20px;
    font-weight: 700;
}

.orderBar__button_clear{
    background-color: transparent;
    border: none;
    color: grey;
    cursor: pointer;

    transition: $mainTransition;

    &:hover{
        color: $accentColor;
    }
}